/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PARTIALS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 
/*Header*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ADMINVIEW >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< EDIT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HOME >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< lOGIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 
.containerLogin{
    margin: 20px;
    padding: 20px;
    border: solid 2px black; 
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PROFILE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.containerProfile{
    margin: 40px;
    padding: 40px;
    border: solid 2px black;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PROFILEEDIT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< REGISTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 
.formRegister{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

.formRegister, label, input{
    width: 50%;
}