/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PARTIALS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 
/*Header*/
.headerStyle{
    background-color: aqua;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ADMINVIEW >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< EDIT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ERROR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HOME >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< lOGIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PROFILE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PROFILEEDIT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< REGISTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/ 
.formRegister{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

.formRegister, label, input{
    width: 50%;
}