<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head', {title: "home"})%> 
<body>
    <%-include('../partials/header')%> 

    <!--Prueba de funcionamiento del modelo group member-->
    <p>Grupos:</p>
    <% for( let i = 0; i < group.length; i++ ) { %>
        <%= group[i].name %>
    <% } %>

    <%-include('../partials/footer')%> 
</body>
</html>