<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head', {title: "Lider"})%> 
<body>
    <%-include('./partials/header')%> 

    Soy admin

    <%-include('./partials/footer')%> 
</body>
</html>