<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head', {title: 'Group create'})%>
<body>
    <header>
        <%-include('./partials/header')%> 
    </header>
    <form action="/group/create/" method="post" enctype="multipart/form-data">
        <label for="name">Nombre del grupo</label>
        <input type="text" name="groupName" id="name" required>
        <label for="description">Descripcion del grupo</label>
        <input type="text" name="groupDescription" id="">
        <label for="groupImage">Imagen del grupo</label>
        <input type="file" accept="png, jpg, jpeg" name="groupPicture">
        <button type="submit">Crear</button>
        <button type="reset">Vaciar</button>
    </form>
    
    <footer>
        <%-include('./partials/footer')%> 
    </footer>
    
</body>
</html>