<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head', {title: 'Home'})%> 
<body>
    <%-include('./partials/header')%> 

    <var>
        <h1>Grupo de las fieras</h1>
        <h2>Tu amig@ secret@ es...</h2>
    </var>
    <section>
        <var>
            <img src="/images/18b9ffb2a8a791d50213a9d595c4dd52.jpg" alt="profilePicture">
            <h3>Jacobo Giraldo</h3>
        </var>
        <article>
            <var>
                <strong>Preferencias</strong>
                <p>chocolate</p>
            </var>
            <var>
                <strong>Disgustos</strong>
                <p>alcohol</p>
            </var>
            <var>
                <strong>alergias</strong>
                <p>ninguna</p>
            </var>
            
        </article>
    </section>
    <%-include('./partials/footer')%> 
</body>
</html>