<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head', {title: 'Home'})%> 
<body>
    <%-include('./partials/header')%> 
    <div class="welcome">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Te damos la bienvenida al juego amigo secreto</h1>
        <h2>Colaborador Linea Directa</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <%-include('./partials/footer')%> 
</body>
</html>