<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head', {title: 'Home'})%> 
<body class="styleInstruction">
    <%-include('./partials/header')%> 
    
    <h1>¿Cómo usar la aplicación?</h1>
    <%-include('./partials/footer')%> 
</body>
</html>