<footer class="styleFooter">
    <div >
        <nav class="navBarFooter">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
        </nav>
    </div>
    <div class="redes">
        <div class="redes2">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
    <div>
        <p class="endFooter">Amigo secreto</p>
    </div>
    
</footer>