<header class="headerStyle">
    <div class="containerLogo">
        <img src="/img/logo.png" alt="Logo">
        <p class="namelogo">Amigo secreto</p>
    </div>
    <div class="part1">
        <form>
            <select name="header" id="header">
                <option selected disabled>Indice</i></option>
                <option><a href="#">¿Como funciona?</a></option>
                <option><a href="#">Create un grupo</a></option>
                <option><a href="#">Ver mi grupo</a></option>
                <option><a href="#">Acceder</a></option>
            </select>
        </form>
    </div>
    <div class="part2">
        <nav class="navBar">
            <ul class="listNavBar">
                <li><a href="/instructions">¿Como funciona?</a></li>
                <li><a href="/group/create">Create un grupo</a></li>
                <li><a href="#">Ver mi grupo</a></li>
                <li><a href="/login">Acceder</a></li>
            </ul>
        </nav>
    </div>
</header>